
<div style="align-self: center;">
  <script src="scripts.js"></script> 

  <!-- checkbox --> 
  <br>
<div class="container justify-content-center" class="btn-group">
  <form id="data">
    <div class="container d-flex flex-row">
      <div>
        <input type="checkbox" name="color" value="1">Indigo
        <input type="checkbox" name="color" value="2">Black
        <input type="checkbox" name="color" value="3">White
      </div>
      <br/>
      <div>
        <input type="checkbox" name="color" value="4">Blue
        <input type="checkbox" name="color" value="5">Red
        <input type="checkbox" name="color" value="6">Violet
      </div>
      <br/>
      <div>
        <input type="checkbox" name="color" value="7">Green
        <input type="checkbox" name="color" value="8">Pink
        <input type="checkbox" name="color" value="9">Grey
      </div>
    </div>
    <br/>
 
    <input type="button" onclick="selectAll()"  class="btn btn-outline-secondary" value="Select All">&nbsp
    <input type="button" onclick="deselectAll()"  class="btn btn-outline-secondary" value="Deselect All">
    <br/><br/>
 
    <input type="text" id="result">
    <br/><br/>

    <!-- dropdown -->
    <div>
      <select id="status" onChange="update()" class="btn btn-secondary dropdown-toggle">
        <option value="state">state</option>
        <option value="country">country</option>
        <option value="city">city</option>
      </select><br><br>
      <input type="text" id="value"><br>
    </div>	
</div>
</div>
 